@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-color: #fefefe;
  background-image: url('https://i.pinimg.com/originals/98/c1/5a/98c15a449a1166ec23f5c9f1f63995dd.png');
}

.header{
  background-color: #dc3545;
}

.header:hover{
  background-color: #b02a37;
}

.header .brand{
  font-size: 40px;
  color: white;
  text-decoration: none;
  padding: 20px 0px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  background-color: #fefefe;
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: 50px 0px;
}

.table thead {
  font-weight: 400;
  background-color: #dc3545;
  font-weight: bold;
  color: white;
}

.table th {
  padding: 10px;
  cursor: pointer;
}

.table th:hover{
  background-color: #b02a37;
}

.table tbody tr:hover{
  background-color: #E7E9EB;
}

.table td {
  border-bottom: 2px solid #eee;
  height: 60px;
  cursor: pointer;
}

.table .img {
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}

.table td:nth-child(3){
  text-transform: capitalize;
}

.table td:nth-child(4) span{
  border-radius: 6px;
  padding: 1px 0px;
  text-transform: capitalize;
  display: block;
  width: 60px;
  margin: 8px auto;
}

.poke-info{
  margin: 50px auto;
  padding: 20px;
  display: grid;
  grid-template-areas: 'a b' 'a c' 'd d';
}

.poke-info .img{
  display: flex;
  justify-content: center;
  grid-area: a;
}

.poke-info img{
  margin-top: -70px;
  margin-bottom: 2em;
  max-width: 80%;
}

.poke-info p, .poke-info h3{
  margin-bottom: 1em;
}
.poke-info .base-info{
  grid-area: b;
}

.poke-info .more-info{
  grid-area: c;
}

.poke-info .types span{
  text-align: center;
  border-radius: 6px;
  padding: 1px 0px;
  text-transform: capitalize;
  width: 60px;
  display: inline-block;
}

.poke-info .poke-stats{
  margin-top: 2em;
  grid-area: d;
}

.poke-info .poke-stats h2{
  margin-bottom: 1em;
}

.poke-info .row{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 0.5em;
}

.poke-info .poke-stats .stats-name{
  text-align: right;
  width: 95px;
}

.poke-info .poke-stats .stats-base{
  text-align: center;
  width: 40px;
}
.poke-info .poke-stats .bar{
  flex: 1;
  height: 20px;
  width: 100%;
  background-color: silver;
  position: relative;
}

.poke-info .poke-stats .stats-color{
  top: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
  position: absolute;
}
.poke-info .poke-stats .stats-min,
.poke-info .poke-stats .stats-max{
  text-align: center;
  width: 40px;
}



@media (max-width: 900px){
  .table thead th:nth-child(2),
  .table tbody td:nth-child(2){
    display: none;
  }
}

@media (max-width: 700px){
  .table thead th:nth-child(6),
  .table thead th:nth-child(7),
  .table thead th:nth-child(8),
  .table thead th:nth-child(9),
  .table thead th:nth-child(10),
  .table thead th:nth-child(11),
  .table tbody td:nth-child(6),
  .table tbody td:nth-child(7),
  .table tbody td:nth-child(8),
  .table tbody td:nth-child(9),
  .table tbody td:nth-child(10),
  .table tbody td:nth-child(11){
    display: none;
  }

  .poke-info{
    grid-template-areas: 'a a' 'b c' 'd d';
  }
}

@media (max-width: 500px){

  .poke-info{
    text-align: center;
    grid-template-areas: 'a' 'b' 'c' 'd';
  }

  .poke-info .row{
    display: flex;
    justify-content: space-between;
    gap: 0px;
    margin-bottom: 0.5em;
  }
  .poke-info .poke-stats .stats-name{
    text-align: left;
  }
  .poke-info .bar{
    display: none;
  }
}